body {
  background-image: url("../../images/longsPeak.png");
  background-position: center;
  background-size: 2300px;
  background-repeat: repeat;
  height: 100%;

}
.project-thumbnails {
  height: 45%;
  width: 45%;
  display: flex;
}
.images-container-outer {
  padding: 5px;
  margin: auto;
}
.images-container {
  
  padding: 35px;
  margin: auto;

}
.image-thumbnails {
  
  padding: 25px;
  margin: auto;
}
.project-links {
  font-size: 23px;
  color:  #3f7154 ;
  background-color: hsla(197, 70%, 88%, 0.918); ;
  border-radius: 4px;
  width:fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
