.header-logo {
    font-size: 40px;
    font-family: sans-serif;
}
.header-top__navigation {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    font-size: 24px;
    font-family:sans-serif;
}